h1 {
  text-align: center;
}
.btn-block {
	width: 50%;
	margin-top: 13px;
	float: right;
	background-color: #0FA3B1;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}