
$primary-color: #00558B;

$slick-arrow-color: $primary-color;

@import "./style.scss";


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}