/* CSS declarations go here */

.node circle { fill: #fff; stroke: #5C6BC0; stroke-width: 3px; }
.node text { font: 12px sans-serif; }
.link { fill: none; stroke: #ccc; stroke-width: 2px; }

body {
  margin: 0px;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

div.app {
  position: relative;
}

div.container
{
  position: relative;
}

div.warning {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #BDBDBD;
}

div.currFilter {
  position: fixed;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

div.map
{
  position: absolute;
  left: 10px;
  width: 700px;
}

div.cards
{
  position: absolute;
  right: 10px;
  width: 650px;
}

div.childCard {
  padding-left: 30px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-48 { font-size: 48px; }
